.consultation
	min-height: 350px
	padding-top: 20px
	padding-bottom: 20px
	&_header
		font-size: 28px
		line-height: 23px
		font-weight: 400
		color: #3a3a3a
		text-align: center
	&_form
		position: relative
		margin-top: 71px
		min-height: 166px
		border: 1px solid #dc5238
		padding: 0 142px 0 142px
		&_icon
			position: absolute
			left: 50%
			transform: translateX(-50%)
			top: -30%
			border: 1px solid #dc5238
			width: 102px
			height: 102px
			border-radius: 100%
			display: flex
			align-items: center
			justify-content: center
			background-color: #fff
		.input_items
			display: flex
			justify-content: space-between
			margin-top: 65px
			.input_item
				width: 270px
				height: 47px
				border: 1px solid rgba(0,0,0,0.2)
				border-radius: 25px
				padding-left: 29px
				// opacity: 0.7
				font-size: 13px
				line-height: 24px
				font-weight: 300
				color: #101010
				outline: none
		.submit_btn
			position: absolute
			left: 50%
			transform: translateX(-50%)
			top: 87%
			width: 180px
			height: 45px
			line-height: 22px
			display: block
			margin: 0 auto
			outline: none