.footer
	height: 201px
	background-color: #25333c
	&__block
		padding-top: 24px
		display: flex
		align-items: center
		justify-content: space-between
	&__title
		text-align: left
		flex-basis: 58%
		font-size: 16px
		line-height: 20px
		font-weight: 700
		color: #ffffff
	&__call
		display: flex
		justify-content: space-between
		flex-basis: 31%
	&__info
		display: flex
		justify-content: space-between
		align-items: center
		opacity: 0.5
		margin-top: 25px
		border-top: 1px solid #fff
		padding-top: 12px
	&__copyright
		font-size: 13px
		line-height: 17px
		font-weight: 300
		color: #ffffff
	&__link
		font-size: 13px
		line-height: 17px
		font-weight: 300
		text-decoration: underline
		color: #ec644b
	.creator
		display: flex
		justify-content: space-between
		align-items: center
		&__text
			font-size: 13px
			line-height: 17px
			font-weight: 300
			color: #ffffff
			margin-right: 10px
